:root {
    --light-blue: #80e3ff; /* 128, 227, 255 */
    --dark-blue: #00b4e6; /* 0, 180, 230 */
}

html {
  scroll-behavior: smooth;
}

body {
    font-family: 'Gilroy', sans-serif;
}

a {
    color: var(--dark-blue);
    text-underline-offset: 4px;
}